<!DOCTYPE html>
<html lang="en-us">

<head>
     <title>NewsKast</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" inital-scale=1>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css"> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Bootstrap core CSS -->
    <!--<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <!-- Material Design Bootstrap -->
    <!--<link href="/bootstrap/css/mdb.min.css" rel="stylesheet">-->
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- JavaScript -->

</head>

<body>
   {{{body}}}
</body>

</html>