<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="../../public/css/style.css" type="text/css">
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/bootstrap/css/mdb.min.css" rel="stylesheet">
     <title>NewsKast</title>
</head>

<body>
    {{{ body }}}
</body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../public/app.js"></script>

</html>