body {
  /* background: url("../../../public/assets/img/binding_dark/binding_dark_@2X.png");*/
  background-color: gray;
}

h1 {
  font-family: Helvetica, sans-serif;
}

#wrapper {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

/* Article Content */
#articles {
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 700px;
}

.card {
    margin: 30px;
}

.card-header {
    background-color: #343a40;
}

a {
    color: white;

}

a:hover {
    color: white;
}

.btn-primary {
    background-color: black;
}

#saveButton, #articleNotes {
    background-color: #343a40;
    color: white;
    margin: 5px;
}

/* Note Content*/
#notes {
    float: right;
    width: 30%;
}
textarea, input {
    display: block;
    width: 100%;
}
input {
    height: 36px;
    font-size: 24px;
}
textarea {
    height: 200px;
    font-size: 18px;
}

/* Clear Articles button */
.btn-light {
    margin-top: 5px;
    margin-right: 10px;
}